/******** Fonts from Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    }
}


/* Containers */

.container {
    padding-left: 0;
    padding-right: 0;

}

.container-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

}

.container-wrapper--orange {
    background-color: #f05f40;
    color: white;
}

.container-wrapper--white {
    background-color: white;
    color: #111111;
}

.callout-container {
    height: 100vh;

    background: url('../images/dummy-image.jpeg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-spacing {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.showreel-container {
    background: url('../images/showreel-background.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
}

.contact-container {
    background: url('../images/contact-background-3.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
}



/******** The navigation bar ********/

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #111111;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.tag-line {
    color: #f05f40;
    text-transform: lowercase;
    font-weight: lighter;
}

.navbar .navbar-nav li {
    color: rgb(255, 255, 255)
}





/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .jumbo-tag-line {
    font-size: 30px;
    color: #ff8c42;
    margin: 25px 0;
}




/* Experience info boxes */

.info-box {
    color: white;
    font-weight: bold;
}

.info-icon {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.contact-for-quote {
    font-size: smaller;
    font-style: italic;
    line-height: 0%;
    color: grey;
}


/* Block dividers */

.block-divider {
    width: 200px;
    height: 3px;
    border: 0;
    background-color: transparent
}

.block-divider--grey {
    background-color: #111111;
    height: 1px;
    margin-bottom: 1rem;
}

.block-divider--white {
    background-color: white;
}

.vertical-divider {
    border-right: 1px solid white;
    height: 10rem;
}

/**** Testimonials ****/

.card {
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: block;
    height: 36rem;
    width: 100%;
}

.container .card .card-image img {
    width: 12rem;
    border-radius: 6rem;
    margin: 1.3rem auto 1rem auto
}

.card-name {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
    color: #111111;
}

.card-text {
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #111111;
    line-height: 1.4rem
}

.card-testimonial {
    text-align: center;
}

.job-role {
    border-top: none;
    text-align: center;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #111111;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;

}

/**** Contact Card ****/

.contact-card {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
}


/**** Footer ****/

.footer-container {
    background-color: #000000;
    color: darkgrey;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border-top: 1rem solid #f05f40
}

.footer-name {
    font-size: 2rem;
}

.footer-social {
    color: darkgrey;
    font-size: 2rem;
}

.footer-social span {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5%;
}

.footer-details {
    line-height: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.footer-email {
}

.right-align {
    text-align: right;
}


.content-text {
    line-height: 2.5rem;
}



.section-padding {
    padding-left: 5%;
    padding-right: 5%;
}

#lee-promo-image {
    float: right;
    vertical-align: top;
    margin: 15px 15px 0px 15px; 
    width: 45%;
    height: auto;
    border: 1rem solid #f05f40;
}

.section-title-push {
    padding-left: 5%;
}